<div class="jumbotron">
      <h1 class="display-4">Jungle</h1>
      <p class="lead">A web store to get all your things</p>
      <hr class="my-4">
      <p>Please login or register to continue!</p>
      <p class="lead">
        <%= link_to 'Login', '/login' %>
        <%= link_to 'Signup', '/signup' %>
      </p>
</div>