<h1>Admin::Dashboard</h1>
<table class="table table-bordered">
      <thead>
        <tr>
          <th>Total Product</th>
          <th>Total Category</th>
        </tr>
      </thead>
      <tbody>
        <td> <%=@product_count%> </td>
        <td> <%=@category_count%> </td>
      </tbody>
    </table>