<div class="jumbotron">
  <h1 class="display-4">About Us</h1>
  <p class="lead">
In a moment, I will tell you everything you need to know about Ugmonk.

But, first, a story...

Once upon a time, a fisherman taught a banker a lesson that would change his life.

The banker was vacationing in a small coastal village when a fisherman docked beside him with several beautiful large fin tuna in his small boat. The banker complimented the fisherman on his catch and asked how long it took.

“Just a little while”, replied the fisherman.

The banker then asked why the fisherman didn’t stay out longer and catch more fish.

As the fisherman unloaded the tuna, one by one, he replied, “Because I have enough to support my family. Plus, I enjoy sleeping late, playing with my children, taking an afternoon nap with my wife and strolling into the village in the evenings to sip wine and play guitar with my friends.”

The banker, who was extremely well-educated with an ivy league education, scoffed and gave the fisherman a lesson in business…
  </p>
  <hr class="my-4">
</div>